<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fredric"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Must remain separated -->
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" android:host="www.youtube.com" />
            <data android:scheme="https" android:host="www.youtube.com" />
            <data android:scheme="http" android:host="m.youtube.com" />
            <data android:scheme="https" android:host="m.youtube.com" />
            <data android:scheme="http" android:host="twitter.com" />
            <data android:scheme="https" android:host="twitter.com" />
            <data android:scheme="http" android:host="mobile.twitter.com" />
            <data android:scheme="https" android:host="mobile.twitter.com" />
            <data android:scheme="http" android:host="reddit.com" />
            <data android:scheme="https" android:host="reddit.com" />
            <data android:scheme="http" android:host="imgur.com" />
            <data android:scheme="https" android:host="imgur.com" />
            <data android:scheme="http" android:host="instagram.com" />
            <data android:scheme="https" android:host="instagram.com" />
            <data android:scheme="http" android:host="tiktok.com" />
            <data android:scheme="https" android:host="tiktok.com" />
            <data android:scheme="http" android:host="imdb.com" />
            <data android:scheme="https" android:host="imdb.com" />
            <data android:scheme="http" android:host="translate.google.com" />
            <data android:scheme="https" android:host="translate.google.com" />
            <data android:scheme="http" android:host="translate.google.com" />
            <data android:scheme="https" android:host="translate.google.com" />
            <data android:scheme="http" android:host="medium.com" />
            <data android:scheme="https" android:host="medium.com" />
            <data android:scheme="http" android:host="urbandictionary.com" />
            <data android:scheme="https" android:host="urbandictionary.com" />
            <data android:scheme="http" android:host="stackoverflow.com" />
            <data android:scheme="https" android:host="stackoverflow.com" />
            <data android:scheme="http" android:host="goodreads.com" />
            <data android:scheme="https" android:host="goodreads.com" />
            <data android:scheme="http" android:host="snopes.com" />
            <data android:scheme="https" android:host="snopes.com" />
            <data android:scheme="http" android:host="www.google.com" android:pathPattern="/search?q=*" />
            <data android:scheme="https" android:host="www.google.com" android:pathPattern="/search?q=*" />
            <data android:scheme="http" android:host="en.wikipedia.org" />
            <data android:scheme="https" android:host="en.wikipedia.org" />
            <data android:scheme="http" android:host="de.wikipedia.org" />
            <data android:scheme="https" android:host="de.wikipedia.org" />
            <data android:scheme="http" android:host="instructables.com" />
            <data android:scheme="https" android:host="instructables.com" />
            <data android:scheme="http" android:host="reuters.com" />
            <data android:scheme="https" android:host="reuters.com" />
            <data android:scheme="http" android:host="odysee.com" />
            <data android:scheme="https" android:host="odysee.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>